<div fxLayoutAlign="center center" fxFlexFill class="padding">
    <mat-card fxFlex="30">
        <mat-toolbar fxLayoutAlign="center center" class="toolbar-color">Register Page</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" class="form-pad" [formGroup]="registerForm" (ngSubmit)="register()">

          <mat-form-field appearance="outline">
            <input matInput placeholder="Firstname" type= "text" formControlName="firstname">
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>  

          <mat-form-field appearance="outline">
            <input matInput placeholder="Lastname" type= "text" formControlName="lastname">
          </mat-form-field> 

          <mat-form-field appearance="outline">
            <input matInput placeholder="Username" type= "text" formControlName="username">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="f.username.errors?.required">This field is mandatory</mat-error>
            
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput placeholder="Email" type= "email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="f.email.errors?.required">This field is mandatory</mat-error>
            <mat-error *ngIf="f.email.errors?.email">Email field must be a valid email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" >    
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="f.password.errors?.required">This field is mandatory</mat-error>
            <mat-error *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</mat-error>
          </mat-form-field >

          <button  mat-stroked-button color="accent" type="submit" [disabled]="registerForm.invalid">SignUp</button>
          
          <p fxLayoutAlign="center center" class="text-padding">Already have an account?
            <a href="http://localhost:4200/login" >LogIn</a>
          </p>
          
          <mat-error *ngIf="error">Username Already exist. !Please use another username</mat-error>

        </form>
        
    </mat-card>
</div>